body {
  padding: 0;
  margin:0;
  font-family: "Microsoft YaHei UI Light";
}

.outer_box {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 220px;
  text-align: center;
  filter: brightness(1.4);
}

.outer_label {
  margin: auto;
  width: 50%;
  height: 220px;
  /*background-color: #000099;*/

  filter: brightness(1.4);
}
.inner_label {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top:0;
  margin: auto;
  height: 50px;
}
.qxs-icon {
  height: 40px;
  width: 15%;
  margin-bottom: 5px;
  padding-left: 3%;
  border: 0;
  border-bottom: solid 1px lavender;
}
