body {
  padding: 0;
  margin:0;
  font-family: "Microsoft YaHei UI Light";
}

.outer_label {
  border-radius: 5px;
  margin: auto;
  width: 20%;
  height: 350px;
  box-shadow: 0 0 8px 1px #4c4c4c;
  /*background-color: #000099;*/


}

.qxs-icon {
  position: relative;
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding-left: 10%;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 8px 1px #aaaaaa;
}
